body {
background-image: url ("luv.jpg");
}

h1 {
color: #93e;
text-align: center;	
}

h2 {
background-color: #edff12;
color:black;
text-align: center;
}

p {
font-family: caladea;
font-size: 15px;
color:#8eff96;
}

ul {
font-family: caladea;
font-size: 15px;
color:#8eff96;
}
